

@model user
@{
    Layout = null;
}

<div>
    <h1>کالا مارکت</h1>

    <h6>برای فعال سازی حساب خود روی لینک زیر کلیک نمایید </h6>

    <a href="https://localhost:44366/Account/ActiveAccount/userid=@Model.userid/Code=@Model.ActiveCode">فعال سازی</a>
</div>