

@model user
@{
    Layout = null;
}

<div>

    <h3>بازیابی کلمه عبور</h3>
    <h4>برای باز یابی کلمه عبور خود بر روی لینک زیر کیک نمایید</h4>
    <a  href="https://localhost:44366/Account/Recovery/@Model.userid/@Model.ActiveCode">باز یابی کلمه عبور</a>
</div>