


@model MainSlider
@{
    ViewData["Title"] = "ویرایش اسلایدر";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-lg-12 mt-4 p-3">
    <div class="card-box">


        <form asp-action="UpdateSlider" method="post" style="margin-top:5%;" enctype="multipart/form-data">
            <input asp-for="Sliderid" type="hidden" />
            <div class="form-group">
                <label asp-for="SliderTitle" for="emailAddress">عنوان اسلایدر</label>
                <input asp-for="SliderTitle" type="text" parsley-trigger="change" placeholder="عنوان اسلایدر را وارد نمایید " class="form-control" id="emailAddress" data-parsley-id="6">
                <span asp-validation-for="SliderTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="sliderAlt" for="emailAddress">Alt اسلایدر</label>
                <input asp-for="sliderAlt" type="text" parsley-trigger="change" placeholder="Alt اسلایدر را وارد نمایید " class="form-control" id="emailAddress" data-parsley-id="6">

            </div>

            <div class="form-group">
                <label asp-for="SliderLink" for="emailAddress">لینک اسلایدر</label>
                <input asp-for="SliderLink" type="text" parsley-trigger="change" placeholder="لینک اسلایدر را وارد نمایید " class="form-control" id="emailAddress" data-parsley-id="6">

            </div>

            <div class="form-group">
                <label asp-for="SliderSort" for="emailAddress">ترتیب اسلایدر </label>
                <input asp-for="SliderSort" type="number" parsley-trigger="change" class="form-control" id="emailAddress" data-parsley-id="6">

            </div>

            <div class="form-group">
                <input type="hidden" asp-for="SliderImg" />
                <label asp-for="SliderImg" for="emailAddress">تصویر اسلایدر</label>
                <input name="file" type="file" parsley-trigger="change" class="form-control" id="emailAddress" data-parsley-id="6">
                <span asp-validation-for="SliderImg" class="text-danger"></span>
                <img width="140"height="130"class="img-thumbnail" src="~/CssSite/ImageSite/@Model.SliderImg" />
            </div>




            <div class="form-group">
                <div class="checkbox">
                    <input asp-for="IsActive" id="remember-1" type="checkbox" data-parsley-multiple="remember-1" data-parsley-id="13">
                    <label asp-for="IsActive" for="remember-1"> آیا فعال باشد ؟! </label>
                </div>
            </div>

            <div class="form-group text-right m-b-0">
                <button class="btn btn-primary waves-effect waves-light" type="submit">
                    ثبت اطلاعات
                </button>
                <a asp-action="Index" class="btn btn-default waves-effect waves-light m-l-5">
                    لغو
                </a>
            </div>

        </form>
    </div>
</div>
