
@model IEnumerable<Category>

@{
    Layout = null;
}


<ul class="menu-ul mega-menu-level-one">
    @foreach (var item in Model.Where(c => c.SubCategory == null).Take(7))
    {
        <li id="nav-menu-item" class="menu-item nav-overlay">
            <a href="#" class="current-link-menu">
                @item.CategoryFaTitle
            </a>
            @if (Model.Where(c => c.SubCategory == item.Categoryid).Count() > 0)
            {
                <ul class="sub-menu is-mega-menu mega-menu-level-two">
                    @foreach (var item2 in Model.Where(c => c.SubCategory == item.Categoryid).Take(5))
                    {
                        <li class="menu-mega-item menu-item-type-mega-menu">
                            <a href="#" class="mega-menu-link">
                                @item2.CategoryFaTitle
                            </a>
                            <ul class="sub-menu mega-menu-level-three">
                                @foreach (var item3 in Model.Where(c => c.SubCategory == item2.Categoryid).Take(7))
                                {
                                    <li class="menu-mega-item-three">
                                        <a href="#">
                                            @item3.CategoryFaTitle
                                        </a>
                                    </li>
                                }


                            </ul>
                        </li>

                    }


                </ul>
            }

        </li>
    }


    <div class="divider-space-card d-block">
    
    </div>
</ul>