

@model RegisterViewmodel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="/CssSite/Css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/CssSite/Css/vendor/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="/CssSite/Css/vendor/bootstrap.css">
    <link rel="stylesheet" href="/CssSite/Css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="/CssSite/Css/vendor/noUISlider.min.css">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="/CssSite/Css/main.css">
</head>
<body>

    <!-- login----------------------------------->
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <section class="page-account-box">
                    <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                        <div class="ds-userlogin">
                            <a href="#" class="account-box-logo">digismart</a>
                            <div class="account-box">
                                <div class="account-box-headline">
                                    <a href="/Account/Login" class="login-ds">
                                        <span class="title">ورود</span>
                                        <span class="sub-title">به دیجی اسمارت</span>
                                    </a>
                                    <a  class="register-ds active">
                                        <span class="title">ثبت نام</span>
                                        <span class="sub-title">در دیجی اسمارت</span>
                                    </a>
                                </div>
                                <div class="Login-to-account mt-4">
                                    <div class="account-box-content">
                                        <h4>ثبت نام در دیجی اسمارت</h4>
                                        <form asp-action="Register" method="post" class="form-account text-right">
                                            <div class="form-account-title">
                                                <label for="email-phone" asp-for="email"></label>
                                                <input type="text" class="number-email-input" asp-for="email">
                                                <span asp-validation-for="email" class="text-danger"></span>
                                            </div>
                                            <div class="form-account-title">
                                                <label for="email-phone" asp-for="accountname"></label>
                                                <input type="text" class="number-email-input" asp-for="accountname">
                                                <span asp-validation-for="accountname" class="text-danger"></span>
                                            </div>
                                            <div class="form-account-title">
                                                <label for="password" asp-for="password"></label>
                                                <input class="password-input" asp-for="password">
                                                <span asp-validation-for="password" class="text-danger"></span>
                                            </div>
                                            <div class="form-account-title">
                                                <label for="password" asp-for="confirmpassword"></label>
                                                <input class="password-input" asp-for="confirmpassword">
                                                <span asp-validation-for="confirmpassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-auth-row">
                                                <label for="#" class="ui-checkbox mt-1">
                                                    <input asp-for="IsAccept" type="checkbox"id="remember">
                                                    <span class="ui-checkbox-check"></span>
                                                </label>
                                                <label for="remember" class="remember-me mr-0"><a href="#">حریم خصوصی</a> و <a href="#">شرایط قوانین </a>استفاده از سرویس های سایت دیجی‌اسمارت را مطالعه نموده و با کلیه موارد آن موافقم.</label>
                                                <span class="text-danger" asp-validation-for="IsAccept"></span>
                                            </div>
                                            <div class="form-row-account">
                                                <button class="btn btn-primary btn-register">ثبت نام در دیجی اسمارت</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- login----------------------------------->
    <!-- scroll_Progress------------------------->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- scroll_Progress------------------------->
    <script src="/CssSite/JS/vendor/jquery-3.2.1.min.js"></script>
    <script src="/CssSite/JS/vendor/bootstrap.js"></script>
    <!-- plugin----------------------------------------------------->
    <script src="/CssSite/JS/vendor/owl.carousel.min.js"></script>
    <script src="/CssSite/JS/vendor/jquery.countdown.js"></script>
    <script src="/CssSite/JS/vendor/ResizeSensor.min.js"></script>
    <script src="/CssSite/JS/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="/CssSite/JS/vendor/wNumb.js"></script>
    <script src="/CssSite/JS/vendor/nouislider.min.js"></script>
    <!-- main js---------------------------------------------------->
    <script src="/CssSite/JS/main.js"></script>
</body>
<!-- file js---------------------------------------------------->

</html>