
@model string
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="/CssSite/Css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/CssSite/Css/vendor/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="/CssSite/Css/vendor/bootstrap.css">
    <link rel="stylesheet" href="/CssSite/Css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="/CssSite/Css/vendor/noUISlider.min.css">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="/CssSite/Css/main.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg">
                <section class="page-account-box">
                    <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                        <div class="ds-userlogin">
                            <a href="#" class="account-box-logo">digismart</a>
                            <div class="account-box">
                                <div class="Login-to-account mt-4">
                                    <div class="account-box-content">
                                        <h4 class="mb-2">به دیجی اسمارت خوش آمدید</h4>
                                        <form action="#" class="form-account text-center">
                                            <div class="user-account-welcome">
                                                <img src="/CssSite/ImageSite/man.png">
                                            </div>
                                            <div class="made-account">
                                                <h2>حساب کاربری شما در دیجی اسمارت ساخته شد</h2>
                                                <p>
                                                    برای فعال سازی حساب یک لینک به ایمیل @Model ارسال گردید .
                                                </p>
                                            </div>
                                            <div class="form-row-account">
                                                <a href="/" class="btn btn-primary btn-login">برگشت به خانه</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- login----------------------------------->
    <!-- scroll_Progress------------------------->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- scroll_Progress------------------------->
    <script src="/CssSite/JS/vendor/jquery-3.2.1.min.js"></script>
    <script src="/CssSite/JS/vendor/bootstrap.js"></script>
    <!-- plugin----------------------------------------------------->
    <script src="/CssSite/JS/vendor/owl.carousel.min.js"></script>
    <script src="/CssSite/JS/vendor/jquery.countdown.js"></script>
    <script src="/CssSite/JS/vendor/ResizeSensor.min.js"></script>
    <script src="/CssSite/JS/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="/CssSite/JS/vendor/wNumb.js"></script>
    <script src="/CssSite/JS/vendor/nouislider.min.js"></script>
    <!-- main js---------------------------------------------------->
    <script src="/CssSite/JS/main.js"></script>
</body>
<!-- file js---------------------------------------------------->

</html>