<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="/AdminPanel/assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="#">علی یدالهی</a> </h5>
            <ul class="list-inline">
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-settings"></i>
                    </a>
                </li>

                <li>
                    <a href="#" class="text-custom">
                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">دسته بندی ها</li>

                <li>
                    <a href="/Admin/AdminDashbord" class="waves-effect active"><i class="zmdi zmdi-view-dashboard"></i> <span> داشبورد </span> </a>
                </li>
                <li>
                    <a href="/admin/slider/Index" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> نمایش اسلایدر </span> </a>
                </li>

                <li>
                    <a href="/admin/gurantee/showallgurantee" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> نمایش گارانتی </span> </a>
                </li>
                <li>
                    <a href="/admin/category/showAllCategory" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> نمایش دسته بندی ها </span> </a>
                </li>
                <li>
                    <a href="/admin/product/Showallpropertyname" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> نمایش خصوصیات </span> </a>
                </li>


                <li>
                    <a href="/admin/product/ShowAllColor" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> نمایش رنگ ها </span> </a>
                </li>
                <li>
                    <a href="/admin/product/showallproduct" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> نمایش محصولات  </span> </a>
                </li>
                <li>
                    <a href="/showposted" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> نمایش سفارشات کاربران  </span> </a>
                </li>
   
                @*<li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-invert-colors"></i> <span> رابط کاربی </span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled">
                <li><a href="ui-buttons.html">دکمه ها</a></li>

            </ul>
        </li>*@


            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>
<!-- Left Sidebar End -->